# Naive Nayes - Bank marketing campaign

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('/content/bank_mark_campaign.csv', sep=';')

In [7]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

The following command replaces 'unknown' by `NA`, using `np.nan`.

In [8]:
df = df.replace('unknown', np.nan) 
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,NaN,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

The method `isna` gives `True` or `False`, if the values are `NA` or not, respectively.

The method any gives `True` if there is some `True` in its arguments. With `axis=0`, we get a `True` if a column has any `NA` or a `False` otherwise.

In [9]:
col_nan = df.columns[df.isna().any(axis=0)].to_list()
col_nan

['job', 'marital', 'education', 'default', 'housing', 'loan']

In [10]:
col_num = df.describe().columns.to_list()
col_num

['age',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed']

The categorical predictors remaining are the columns of `df` that are not in `col_nan` and `col_num`.

`list1 + list2` concatenates the two lists into a single list.

In [11]:
col_nan + col_num

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'age',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed']

In [12]:
df.columns.difference(col_nan + col_num)

Index(['contact', 'day_of_week', 'month', 'poutcome', 'y'], dtype='object')

Since the columns with name `y` is the outcome variable, we need to exclude it from the result from the previous command.

In [13]:
col_cat = df.columns.difference(col_nan + col_num + ['y']).to_list()
col_cat

['contact', 'day_of_week', 'month', 'poutcome']

The dataset contain missing values (NA) and there are several strategies to impute missing values:

1. move the corresponding rows;
2. we can put some input values to the missing values.

In this case, we are going to input the NA with the most frequent values.

In this dataset, the NA occur only in the categorical predictors. Since they arecategorical we need to use `encode`.

In [26]:
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB

Naive Bays - the original version - assumes categorcial predictors.

There is Gaussian Naive Bays, which assumes the continuous predictors follow Gaussian statistical distributions and are independent.

The assumptions of Gaussian Naive Bays may not hold, but its predictions may be good nevertheless.

In [21]:
na_treat = Pipeline([
    ('imp', SimpleImputer(strategy='most_frequent')),
    ('oneh', OneHotEncoder(drop='first'))])

O código anterior define uma pipeline de pré-processamento de dados usando duas etapas:

1. `SimpleImputer(strategy='most_frequent')`: Essa etapa usa a classe SimpleImputer para preencher valores ausentes em um conjunto de dados. O parâmetro strategy está definido como `most_frequent`, o que significa que o valor mais frequente na coluna será usado para preencher os valores ausentes.

2. `OneHotEncoder(drop='first')`: Essa etapa usa a classe OneHotEncoder para codificar as variáveis categóricas do conjunto de dados em variáveis binárias (0 ou 1). O parâmetro drop está definido como `'first'`, o que significa que a primeira categoria será excluída para evitar a colinearidade entre as variáveis.

Ao definir essas etapas em uma pipeline, é possível aplicá-las a um conjunto de dados em uma única chamada, tornando o processo de pré-processamento mais eficiente e menos suscetível a erros.

In [30]:
preprocessor = ColumnTransformer([
    ('na_tr', na_treat, col_nan),
    ('cat_tr', OneHotEncoder(drop='first'), col_cat),
    ('scale_tr', StandardScaler(), col_num)],
    remainder='passthrough')

In [31]:
pipe = Pipeline([
    ('pre', preprocessor),
    ('gnb', GaussianNB())])

In [32]:
X = df.drop('y', axis=1)
y = df['y']

Vamos dividir em treino e teste.

In [29]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=45)

Fit the model

In [34]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('pre',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('na_tr',
                                                  Pipeline(steps=[('imp',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('oneh',
                                                                   OneHotEncoder(drop='first'))]),
                                                  ['job', 'marital',
                                                   'education', 'default',
                                                   'housing', 'loan']),
                                                 ('cat_tr',
                                                  OneHotEncoder(drop='first'),
                                                  ['contact', 'day_of_week',
                                                   'month', 'poutcome']),
                                                 ('scale_tr', StandardScaler(),
                                                  ['age', 'duration',
                                                   'campaign', 'pdays',
                                                   'previous', 'emp.var.rate',
                                                   'cons.price.idx',
                                                   'cons.conf.idx', 'euribor3m',
                                                   'nr.employed'])])),
                ('gnb', GaussianNB())])

Let's make the predictions.

In [35]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [37]:
y_pred = pipe.predict(X_train)

acur = accuracy_score(y_train, y_pred)
acur

0.8391502276176024

This is not good. We are going to see why.

In [38]:
cm = confusion_matrix(y_train, y_pred)
cm

array([[25367,  3883],
       [ 1417,  2283]])

Ver tablet - matriz

Since we are trying to predict the "yes", these predictions are not good, because many of the actual values "yes" are predicted as "no".

The ideal case would be to get a recall-score of 1.

In [41]:
from sklearn.metrics import recall_score

In [42]:
recall_score(y_train, y_pred, pos_label='yes')

0.617027027027027