# Regression problem

Dataset: Car radios

In [4]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
import datetime

df = pd.read_excel('/content/data_carradios_assign.xlsx')
df

      perc_defec      bdate  team  training      datep  prizeq  prized
0           0.00 1986-12-23     1         0 2021-07-01     500     600
1           3.61 1981-07-02     7         1 2021-07-02     500       0
2          21.17 1986-12-23     6         0 2021-07-05       0       0
3          29.18 1981-07-02     4         0 2021-07-06       0       0
4          15.63 1992-06-14     3         1 2021-07-07       0       0
...          ...        ...   ...       ...        ...     ...     ...
1195         NaN 1986-12-23     5         1        NaT       0     600
1196         NaN 1992-06-14     6         0        NaT       0       0
1197         NaN 1981-07-02     5         1        NaT       0     600
1198         NaN 1981-07-02     1         0        NaT     500     600
1199         NaN 1992-06-14     7         1        NaT     500       0

[1200 rows x 7 columns]

1st step

create a column with the age of the people

In [9]:
def get_ages(col):
  result = (datetime.datetime.now()-col.astype('<m8[Y]'))
  result = pd.DataFrame(result)
  return result

In [7]:
from sklearn.preprocessing import FunctionTransformer

In [10]:
ager = Pipeline([
    ('ages', FunctionTransformer(get_ages,feature_names_out='one-to-one')),
    ('scale', StandardScaler())
])

2step

create a column with the days of the week

In [11]:
def get_weekdays(col):
  result = col.iloc[:, 1:].dt.get_weekday
  result = pd.DataFrame(result)
  return result

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
weeker = Pipeline([
    ('weekd', FunctionTransformer(get_weekdays, feature_names_out='one-to-one'),
     ('oneh', OneHotEncoder(drop='first')))
])

In [14]:
preprocessor = ColumnTransformer([
    ('ages_tr', ager, ['bdate']),
    ('weekd_tr', weeker, ['datep']),
    ('team_tr', OneHotEncoder(drop='first'), ['team']),
    ('scaler', StandardScaler(), ['prized', 'prizeq'])
],
remainder='passthrough'
)

In [15]:
x = df.drop('perc_defec', axis=1)
y = df['perc_defec']

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=45)

In [17]:
pipe=Pipeline([
    ('pre', preprocessor),
    ('lm', LinearRegression())
])

In [21]:
# pipe.fit(x_train, y_train)

In [20]:
# y_pred = pipe.predict(x_train)