Types of Variables

In [ ]:
x = 10
x

10

In [ ]:
x = 2.3
x

2.3

In [ ]:
type(x)

float

In [ ]:
x = 10

In [ ]:
type(x)

int

In [ ]:
x = (10, 5, 13, 7, 21, 22)
x

(10, 5, 13, 7, 21, 22)

In [ ]:
x[0]

10

In [ ]:
y = True

In [ ]:
y=True

In [ ]:
type(y)

bool

In [ ]:
x=[2, 0, 9, 10]

In [ ]:
x[0]

2

In [ ]:
x[-1]

10

In [ ]:
x[3]

10

In [ ]:
x[1:]

[0, 9, 10]

In [ ]:
x[1:3]

[0, 9]

EXERCISE 1

In [ ]:
print ("Hello World!")

Hello World!

LISTS

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

FOR loop

In [ ]:
names = ['Mary', 'John', 'Catherine']
marks = [9, 18, 19]

In [ ]:
print (f'The score of {names[0]} is {marks[0]}')

The score of Mary is 9

In [ ]:
for i in range (len(names)):
  print(i)

0
1
2

In [ ]:
for i in range (len(names)):
  print(f'The score of {names[i]} is {marks[i]}')

The score of Mary is 9
The score of John is 18
The score of Catherine is 19

In [ ]:
for i in range(len(names)):
  if(marks[i] < 10):
    greating = 'Keep studying'
  else:
    greating = 'Congratulations!'

print (f'The score of {names[i]} is {marks[i]}, {greating}')

The score of Catherine is 19, Congratulations!

In [ ]:
names = ['Mary', 'John', 'Catherine']
course1 = [15, 18, 19]
course2 = [18, 19, 14]
course3 = [14, 16, 17]
credits = [6, 4.5, 3] # of the above courses, respectively

In [ ]:
w_ave_mary = round((course1[0]*credits[0] +
              course2[0]*credits[1] +
              course3[0]*credits[2]) /sum(credits), 2)
w_ave_mary

15.78

In [ ]:
for i in range(len(names)):
 w_ave = round((course1[i]*credits[0] +
              course2[i]*credits[1] +
              course3[i]*credits[2]) /sum(credits), 2)

In [ ]:
 print(f' The weighted average of {names[i]}' is (w_avg).')

SyntaxError: ignored

COMPREHENSION

In [ ]:
mylist = [4, 3, 1, 5]

In [ ]:
mylist

[4, 3, 1, 5]

In [ ]:
[x**2 for x in mylist]

[16, 9, 1, 25]

DICTIONAIRES

In [ ]:
d ={'Mary':15, 'John':18, 'Catherine':19}
d

{'Mary': 15, 'John': 18, 'Catherine': 19}

In [ ]:
d {'John'}

SyntaxError: ignored

TUPLES

In [ ]:
t = (4, 7, 9)
t

(4, 7, 9)

In [ ]:
t[2]

9

In [ ]:
t[2] = 10

TypeError: ignored

Tuples "cannot" be changed, contrary to lists.

In [ ]:
names2 = names

In [ ]:
names2

['Mary', 'John', 'Catherine']

In [ ]:
[x for x in zip(names, marks)]

[('Mary', 9), ('John', 18), ('Catherine', 19)]

In [ ]:
d2 = dict(zip(names, marks))
d2

{'Mary': 9, 'John': 18, 'Catherine': 19}

In [ ]:
{x[0] : x[1] for x in zip (names, marks)}

{'Mary': 9, 'John': 18, 'Catherine': 19}