In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression

df = pd.read_csv('/content/winequality-red.csv',
    sep=';')

X = df.drop('quality', axis=1)
y = df['quality']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=45)

scaler = Pipeline([
    ('any_name1', StandardScaler())
    ])

preprocessor = ColumnTransformer([
    ('any_name_does', scaler, X.columns.to_list())],
    remainder='passthrough')

pipe = Pipeline([
    ('pre', preprocessor),
    ('lm', LinearRegression())])

pipe.fit(X_train, y_train)

y_pred = pipe.predict(X_train)
y_pred

array([6.48553273, 4.72694379, 5.84088531, ..., 5.48660099, 6.34047368,
       5.4922784 ])

In [ ]:
pd.DataFrame({
    'y_true': y_train,
    'y_pred': y_pred
})

      y_true    y_pred
1108       7  6.485533
709        5  4.726944
823        6  5.840885
4109       6  6.496332
1243       7  6.425209
...      ...       ...
4473       5  5.191853
580        5  5.176507
163        6  5.486601
4703       7  6.340474
3616       5  5.492278

[3918 rows x 2 columns]

Python has a function to calculate the mean absolute error. We need first to load the function.

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mean_absolute_error(y_train, y_pred)

0.5859156936493961

Python has a function to calculate the mean squared error. We need first to load the function.

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_train, y_pred)

0.5656942908707611

Since the errors are squared, to better compare with the outcome variable, we can use square root of the mean squared error:

In [ ]:
mean_squared_error(y_train, y_pred, squared=False)

0.7521265125434424

In [ ]:
y_train.mean()

5.8797856049004595

In [ ]:
np.sqrt(0.5656942908707611)

0.7521265125434424

In [ ]:
mae = mean_absolute_error(y_train, y_pred)
mse = mean_squared_error(y_train, y_pred)
rmse = mean_squared_error(y_train, y_pred, squared=False)

In [ ]:
print(f'MAE= {mae}')
print(f'MSE= {mse}')
print(f'RMSE= {rmse}')

MAE= 0.5859156936493961
MSE= 0.5656942908707611
RMSE= 0.7521265125434424

To calculate R2, we need to load r2_score function.

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2 = r2_score(y_train, y_pred)

In [ ]:
print(f'R2= {r2}')

R2= 0.27577917074526737

The predictive performance of this model is not good, since the R2 is low. This means that we should try another model. Or this is suggesting that some important predictors are missing.

To get an idea how our model works with unseen data, we will use the test set, which has not been used for anything up to now.

In [ ]:
y_pred = pipe.predict(X_test)

In [ ]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print(f'MAE= {mae}')
print(f'MSE= {mse}')
print(f'RMSE= {rmse}')
print(f'R2= {r2}')

MAE= 0.5730106620077944
MSE= 0.5543180198119331
RMSE= 0.7445253654590508
R2= 0.30403261702378337

# Car radios problem

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import OneHotEncoder
import datetime

df = pd.read_excel('/content/data_carradios.xlsx')

def get_ages(col):
  result = (datetime.datetime.now()-col).astype('<m8[Y]')
  result = pd.DataFrame(result)
  return result

ager = Pipeline([
    ('ages', FunctionTransformer(get_ages, feature_names_out='one-to-one')),
    ('scale', StandardScaler())
])

def get_weekdays(col):
  result = col.iloc[:,0].dt.weekday
  result = pd.DataFrame(result)
  return result

weeker = Pipeline([
    ('weekd', FunctionTransformer(get_weekdays, feature_names_out='one-to-one')),
    ('oneh', OneHotEncoder(drop='first'))
])

preprocessor = ColumnTransformer([
    ('ages_tr', ager, ['bdate']),
    ('weekd_tr', weeker, ['datep']),
    ('team_tr', OneHotEncoder(drop='first'), ['team']),
    ('scaler', StandardScaler(), ['prized', 'prizeq'])],
    remainder='passthrough')

X = df.drop('perc_defec', axis=1)
y = df['perc_defec']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=45)

pipe = Pipeline([
    ('pre', preprocessor),
    ('lm', LinearRegression())])

pipe.fit(X_train, y_train)

y_pred = pipe.predict(X_train)
y_pred

array([20.08740234, 20.41943359, 10.64794922,  2.07958984, 30.55419922,
       20.18896484, 38.86279297, 20.26904297, 30.61669922, 20.64013672,
       30.55419922, 38.41552734,  1.99755859, 20.46630859, 20.10888672,
       20.63232422, 39.83154297, 20.32177734,  2.44287109, 20.34716797,
       39.83154297, 57.99560547, 20.10888672,  9.65576172,  9.78857422,
       20.40185547,  2.08740234,  1.78466797,  2.14990234, 29.56787109,
       48.71044922, 17.26318359,  9.65576172, 20.46630859, 39.83154297,
       11.29248047, 38.49560547, 30.18896484,  1.45849609, 39.60498047,
        1.91943359,  2.31787109, 21.30029297, 39.60498047, 30.18896484,
       20.56005859, 39.29052734, 39.15576172,  1.45849609, 39.55029297,
       -0.88525391, 20.20458984, 39.97998047,  1.24169922, 39.60498047,
       10.95654297,  1.10107422, 11.13623047, 10.64013672, 19.64599609,
       29.67529297, -0.76025391, 20.33935547,  2.31787109, 11.65966797,
       19.43310547, 19.13818359,  1.10107422, 20.84716797,  1.32568359,
       28.79638672, 21.13232422, 38.71044922,  2.21240234,  2.09521484,
       29.80810547, 10.53466797, -1.87744141, 17.10302734, -1.87744141,
        2.15380859, 20.12451172, 10.53466797, -2.03759766, 38.65576172,
       10.47998047, 39.15576172, 39.97216797, 30.61669922, 39.83154297,
        1.63427734, 30.48388672, 39.83935547, 30.48388672, 39.15576172,
       39.83935547, 20.33935547, 29.56787109, 10.66748047, 20.25146484,
       -1.04541016,  1.10107422, 19.64599609, 38.84716797, -1.74462891,
        2.31787109, 20.26904297, 10.47998047, 19.27294922, 10.54638672,
        1.99755859, 17.26318359, 57.83154297, -0.75244141, 20.02880859,
       -2.03759766, 30.71435547, 38.57568359, 20.84716797,  1.32568359,
        1.85693359, 11.35498047, 30.85498047, -0.60009766, 38.99560547,
       30.48388672, 19.43310547, 30.42724609, 39.97998047, 20.33935547,
       -0.99462891, 48.71044922, 11.29248047, 39.97216797, 10.34716797,
       38.99560547, -1.05322266, 20.76123047, 39.68310547, -0.89306641,
        2.44287109, 20.33935547, 11.52685547, 11.29248047, 11.51904297,
        2.21240234, 20.50732422, 20.83935547,  1.85693359, 20.18896484,
       39.97998047,  1.93115234, 11.42529297, 17.10302734, 38.65576172,
       -2.03759766, 10.53466797, 39.83935547, 28.63623047,  2.21240234,
       30.72216797,  1.45849609, 20.18896484, 38.65576172, 10.19482422,
       17.26318359, 20.38427734, 38.49560547, 19.43310547, 10.54638672,
       20.18896484, 20.46630859,  1.79833984, 39.44873047, 28.79638672,
       38.79052734, 20.63232422,  1.45849609, 10.47998047, 30.61669922,
       20.50732422, 20.60888672, 21.00732422, 19.43310547,  1.10107422,
       20.26904297, 19.56591797, 30.61669922, 20.25927734, 29.72802734,
        1.93896484, 30.61669922, 30.32373047, 29.72802734, 11.13623047,
       20.18896484, 20.63232422, -1.87744141, 39.74560547, -1.74462891,
       30.84716797, 19.43310547, 11.29248047, 30.55419922, 20.46630859,
        2.45068359, 20.46630859, 20.83935547, 29.97216797, 30.85498047,
       19.64599609, 11.65966797, -1.12744141, 19.72607422, 20.32177734,
        1.93115234, 38.71044922, 29.56787109, 39.83154297,  1.79833984,
       20.25927734,  2.31005859,  1.85693359, 30.85498047, 57.83154297,
       10.23779297, 39.97998047, -0.75244141, -1.87744141, 49.00537109,
       -0.76025391, 10.64013672, 29.67529297, 19.43310547,  2.61083984,
       11.13623047, 10.53466797, 29.97216797, 11.51904297, 38.28271484,
       -1.12744141, 10.47998047, 20.64013672, 30.55419922, 21.00732422,
       -1.05322266,  2.22802734, 10.47998047,  2.14990234, 38.99560547,
       20.34716797,  2.08740234,  1.16552734, 20.64013672,  9.78857422,
       30.56201172, 20.76904297, 11.35498047, 21.00732422, 39.83935547,
       20.40185547, -1.05322266,  1.24169922,  9.78857422, -0.88525391,
       10.64013672, 30.48388672, 10.78076172,  9.65576172, 20.40185547,
        2.45068359, 11.37060547,  1.85693359,  1.99755859, 21.00732422,
       11.13623047,  9.78857422,  2.08740234, 39.15576172, 57.83154297,
       20.17333984, -1.74462891, 30.48388672, 38.71044922, 30.32373047,
       30.32373047,  9.49560547, 39.44873047, -1.74462891, 11.52685547,
       -0.59228516, 29.67529297, 39.97998047, 20.71240234, 11.35498047,
       38.71044922, 11.42529297, 49.00537109, 39.44873047, 30.85498047,
       39.15576172, 39.67529297, 30.48388672,  1.16552734, 39.83154297,
       28.92919922,  2.15771484,  2.08740234, 20.18896484, 38.41552734,
        1.32568359, 10.78076172, 20.46630859, 10.47998047, 20.33935547,
       -1.05322266, 30.71435547, 20.64013672, 29.51123047,  1.70068359,
        1.93896484, 38.57568359,  2.31787109, 10.54638672, 19.56591797,
       20.46630859,  2.23583984, 28.50341797, 20.60107422,  1.85693359,
       39.83935547, 39.97998047, 39.67529297, 10.41357422,  1.39794922,
       -1.18017578,  9.78857422, 48.71044922, 20.60107422, 20.41943359,
       -1.05322266, 30.61669922,  2.08740234, 39.74560547, 20.01318359,
       10.41357422, 19.27294922, 29.72802734, 20.84716797, 40.12841797,
        2.07958984, 10.35498047, 49.00537109, 20.42724609, 58.12841797,
        9.65576172, 39.74560547,  2.45068359, 11.52685547, 39.90185547,
       20.54052734, 11.29248047, 30.56201172,  1.10107422, 30.56201172,
       20.54052734,  2.09521484, -1.12744141,  9.49560547, 39.83154297,
       10.64013672, 29.67529297, 38.65576172, 20.49951172,  1.10107422,
        2.31787109, 38.65576172, 19.27294922, 20.18896484, 20.12451172,
        1.10107422, 20.60888672,  2.44287109, 20.42724609, 29.80810547,
       29.67529297, 39.44873047, 38.57568359, 19.56591797, 20.01318359,
       20.84716797, 20.46630859, 20.60888672, -0.99462891, 10.54638672,
        1.70068359, 19.27294922, 19.56591797, 10.34716797, 10.54638672,
       49.16552734,  0.94482422, 11.65185547,  2.08740234, 11.65185547,
        1.10107422, 29.43310547, 19.43310547, -1.74462891,  2.08740234,
       20.18896484, 39.68310547, 19.43310547, 20.48193359, 10.25341797,
       40.13623047, 38.98779297, 30.48388672, 20.26904297,  2.08740234,
       28.92919922, 10.53466797, 19.56591797, 20.40185547, 31.01513672,
       29.56787109, 39.97998047, 19.56591797, 20.60107422, 20.50732422,
       49.29833984, 20.48193359, 48.71044922, 30.42724609, 10.66748047,
       20.76904297,  2.08740234, 20.80029297, -2.03759766, 39.97998047,
       -1.05322266, 21.14013672, 11.52685547, 38.98779297, 20.42724609,
       20.46630859, 20.50732422, 20.33935547, 20.64013672, 11.65966797,
       19.43310547, 28.79638672, 38.99560547, 20.18896484, 11.52685547,
       10.64013672, 30.61669922, -0.89306641, 10.25341797, 20.18896484,
       -0.83447266, 10.53466797, -1.74462891, 11.52685547, 39.83935547,
       -1.05322266, 11.13623047, 11.35498047, 10.48779297, 39.55029297,
       38.65576172, 39.44873047, 20.30615234, 17.26318359, 28.79638672,
        9.65576172, 17.26318359,  2.07958984, 11.29248047, 30.56201172,
       20.42724609, 19.64599609, 38.49560547, 17.39794922,  2.08740234,
        0.94482422, -1.74462891, 10.47998047, -1.87744141, 19.80615234,
       38.98779297, 10.78076172, 20.60107422, 10.48779297, 20.83935547,
       29.51123047, 11.52685547, -1.18017578, 19.43310547, 40.12841797,
       20.60888672, 29.72802734,  0.64794922, 19.27294922, 29.56787109,
       -1.28759766, 30.61669922, 19.85302734, 49.00537109, 20.26904297,
       38.65576172, -1.74462891, 11.37060547, -1.12744141, 30.72216797,
       11.52685547, 17.26318359, 38.84716797, 20.76904297, 20.08740234,
       29.67529297, 20.12451172, -1.12744141, 28.63623047, 17.10302734,
       38.65576172, 30.84716797,  2.31005859, 30.72216797, -0.89306641,
       29.56787109,  2.14990234, 21.00732422,  1.32568359,  2.31787109,
       10.64794922, 11.37060547, 20.30615234,  2.31005859, 38.57568359,
       28.50341797, 19.85302734, 10.53466797,  2.37255859,  1.93896484,
       19.85302734, 10.78076172, 29.72802734,  2.14990234,  1.85693359,
       11.52685547, 38.99560547, -0.75244141, 20.64013672, 21.14013672,
       19.51318359, 19.43310547, 20.46630859, 17.10302734, 20.32177734,
        2.09521484, 10.47998047, 30.85498047, 40.13623047, 20.26708984,
       19.27294922, 10.12060547, 11.37060547, 20.26708984, 57.69873047,
        1.99755859, 30.18896484,  9.49560547, 38.65576172, 20.12451172,
       10.64794922,  1.16552734, 29.86083984, 48.71044922, 39.83935547,
        1.24169922, 20.46630859, 39.44873047, 58.12841797,  1.93115234,
       38.87060547, 38.84716797,  9.65576172,  1.32568359, 30.71435547,
       20.55224609, 29.80810547, 17.26318359, 30.71435547, 20.02880859,
       10.53466797, 48.87060547, -1.12744141, 20.64013672, 20.25927734,
       29.86083984, 20.70458984, 20.49951172, 57.83154297, -0.76025391,
        2.31005859, 20.14599609, -1.28759766, 29.38623047, 10.66748047,
       19.27294922,  1.85693359, -2.03759766, 20.10888672, 49.00537109,
       20.42724609, 48.71044922, 21.14013672,  1.10107422, 20.38427734,
       20.25927734,  1.93115234, 20.12451172, 19.85302734, -0.70166016,
       58.12841797, 20.25927734, 11.51904297, -0.76025391, 19.64599609,
       30.85498047, -0.75244141, 11.22998047, -0.88525391, 19.27294922,
       30.32373047, 11.52685547, 38.71044922, 39.83935547, 20.08740234,
       11.51904297,  9.65576172, 38.84716797,  1.16552734, 20.10888672,
        9.78857422, 38.98779297,  1.85693359,  1.93115234,  9.78857422,
       20.26904297, 48.71044922, 29.97216797, 20.60107422, 29.80810547,
       20.38427734, 10.77294922,  2.14990234, 20.25146484, 29.80810547,
        2.22802734, 30.84716797, 20.61474609, -1.45166016, 39.68310547,
        1.78466797, 19.35302734,  2.44287109, 58.12841797, 17.10302734,
       30.32373047, 30.56201172, 29.51123047, 39.38623047, 10.54638672,
       20.76904297, 38.99560547, 20.99951172, 29.56787109, 30.56201172,
       20.18896484, -0.88525391, -1.12744141,  1.85693359, 39.55029297,
       20.34716797,  2.09521484, 10.53466797, 38.49560547,  2.07958984,
       39.15576172, 10.77294922, 20.55224609, 57.99560547, 19.13818359,
       20.64013672, 29.51123047, 28.79638672,  2.31787109,  2.31787109,
       38.87060547, -1.12744141, 20.18896484, 20.25927734, 17.39794922,
       39.44873047,  2.15771484, 11.51904297, 20.76904297,  2.08740234,
       39.68310547, 21.00732422, -2.03759766, 20.26708984, 20.30615234,
        1.99755859, 38.95068359, 28.79638672, 38.28271484, 20.99951172,
       20.30615234, 20.46630859, 20.25927734,  2.45068359, 20.40185547,
        2.44287109, 20.99951172,  1.93896484, 39.67529297, -0.75244141,
        1.80615234, 30.71435547,  2.31005859, 30.32373047, 39.15576172,
        2.44287109, 10.66748047, -1.87744141, 38.84716797, 10.78076172,
       20.99951172, 20.79248047, 11.37060547, 38.49560547, 20.46630859,
       17.39794922,  1.32568359,  1.32568359,  2.22802734, 19.97412109,
       38.69091797, 29.67529297, 20.13232422, 48.87060547, 58.12841797,
       20.41943359, 38.84716797, -1.42236328, 19.27294922,  1.24169922,
       20.02880859,  2.31005859, 28.63623047, 19.51318359, 20.38427734,
       11.51904297,  2.08740234,  1.85693359, 29.67529297, 39.83935547,
       20.71240234, 20.50732422, 20.49951172, 20.49951172, -1.74462891,
       20.34716797, 10.54638672,  2.74365234, 20.10888672,  2.44287109,
       29.67529297, 30.71435547,  1.16552734, -1.04541016, 11.42529297,
       29.80810547, 21.06201172, 39.31591797, 11.65185547, -1.28759766,
       30.85498047,  2.22802734, 17.26318359, 11.65185547, -0.46728516,
       20.50732422, 30.55419922, 11.29248047, 20.13232422,  9.65576172])