# Lecture 2023-02-13

# Types of variables

Variables can be of type:

- *numerical* (`integer` or `float`). 
- *boolean* (`True` or `False`).
- *string* (text, always between `''` or `""`).

To check the type of a variable, we just need to use function `type`.

In [2]:
x = 10
x

10

In [3]:
x = 2.3
x

2.3

In [4]:
type(x)

float

In [5]:
x

2.3

In [6]:
x = 10

In [7]:
type(x)

int

In [8]:
y = True
y

True

In [9]:
type(y)

bool

# Lists

- Lists are collections of elements (numbers, strings, etc.).
- The elements of a list can be accessed through indexing.
- Let `l` be a list. To access the element at position `i` (index `i`), we just use:
  `l[i]`

In [10]:
x = [2,8, 9, 10]
x

[2, 8, 9, 10]

In the following, we get the first element of x

In [11]:
x[0]

2

In [12]:
x[2]

9

The index of the *last* element of a list is `-1`.

In [13]:
x[-1]

10

The element just before the last one has index `-2`, and so on.

In [14]:
x[-2]

9

In [15]:
x[3]

10

- To get all elements of a list after index `i`, we just need to run `mylist[i:]`. 
- Notice that element at index `i` is also returned.

In [16]:
x[1:]

[8, 9, 10]

To get all elements of a list from index i (inclusive) to index j (exclusive): `mylist[i:j]`

In [17]:
x[1:3]

[8, 9]

In [ ]:
x[1:-1]

[8, 9]

# Very first steps (Exercises booklet)
## Exercise 1

We can use a variable `msg` or not.

In [ ]:
msg = 'Hello world!'
print(msg)

Hello world!

In [ ]:
print('Hello world!')

Hello world!

# Lists (Exercises booklet)
## Exercise 3-a)

In [22]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Exercise 3-b)

Notice that `range(k)` does not include `k` in the range it creates.

In [20]:
l = list(range(10+1))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Exercise 3-c)

In [21]:
type(l)

list

# FOR loop (Exercises booklet)
## Exercise 5

In [18]:
names = ['Mary', 'John', 'Catherine']
marks = [9, 18, 19]

print(f'The score of {names[0]} is {marks[0]}.')
print(f'The score of {names[1]} is {marks[1]}.')
print(f'The score of {names[2]} is {marks[2]}.')

The score of Mary is 9.
The score of John is 18.
The score of Catherine is 19.

- The `for` loop is central to all programming language, as:
  - It allows us to program repetitive operations using a very compact piece of code.

- In the following code cell, the variable `i` will successively assume the values in the specified range. 
- Function `len` gives us the length of the list names.
- The length of the list names is `3` (it has 3 elements). Hence, `range(len(names))` is equivalent to `range(3)`.
- `range(3)` corresponds to the list `[0, 1, 2]`.
- As we can see, `i` will take, successively, the values of the range, i.e., 0, 1 and 3.

In [ ]:
for i in range(len(names)):
  print(i)

0
1
2

In [ ]:
for i in range(len(names)):
  print(f'The score of {names[i]} is {marks[i]}.')

The score of Mary is 9.
The score of John is 18.
The score of Catherine is 19.

## Exercise 6

- This exercise needs the construction `if ... else`.
- This construction works as follows:

  `if (logical condition):`

   &nbsp;&nbsp;&nbsp;&nbsp;`do this if the logical condition is True`
  
  `else:`
  
   &nbsp;&nbsp;&nbsp;&nbsp;`do this if the logical condition is False`

In [ ]:
for i in range(len(names)):
  if (marks[i] < 10):
    greeting = 'Keep studying!'
  else:
    greeting = 'Congratulations!'

  print(f'The score of {names[i]} is {marks[i]}. {greeting}')

The score of Mary is 9. Keep studying!
The score of John is 18. Congratulations!
The score of Catherine is 19. Congratulations!

## Exercise 7

In [ ]:
names = ['Mary', 'John', 'Catherine']
course1 = [15, 18, 19]
course2 = [18, 19, 14]
course3 = [14, 16, 17]
credits = [6, 4.5, 3] # of the above courses, respectively

In [ ]:
w_avg_mary = round((course1[0]*credits[0] +
               course2[0]*credits[1] + 
               course3[0]*credits[2]) / sum(credits), 2)
w_avg_mary

15.78

In [ ]:
round(14.8975,3)

14.898

In [ ]:
for i in range(len(names)):
  w_avg = round((course1[i]*credits[0] +
               course2[i]*credits[1] + 
               course3[i]*credits[2]) / sum(credits), 2)
  
  print(f'The weighted average of {names[i]} is {w_avg}.')

The weighted average of Mary is 15.78.
The weighted average of John is 17.89.
The weighted average of Catherine is 16.89.

# List comprehension (Exercises booklet)
## Exercise 8

In [ ]:
mylist = [4, 3, 1, 5]
mylist

[4, 3, 1, 5]

In [ ]:
[x**2 for x in mylist]

[16, 9, 1, 25]

# Dictionaries (Exercises booklet)

- Dictionaries are useful, as they can store information that can be retrieved by using a *key*.
- For instance, with dictionary `d`, defined as 

  `d = {'a': 4, 'b': 2, 'c': 5}`

  we can access the second element by using is key, `'b'`, in the following way:

  `d['b]`

## Exercise 9-a)

In [ ]:
d = {'Mary': 15, 'John': 18, 'Catherine': 19}
d

{'Mary': 15, 'John': 18, 'Catherine': 19}

In [ ]:
d['John']

18

# Tuples

- Tuples area very similar to lists, but they area *unchangeable*. We can create them by using `()`.

- Indexing works similarly to indexing in lists.

In [ ]:
t = (4, 7, 9)
t

(4, 7, 9)

In [ ]:
t[2]

9

Tuples are *unchangeable*. Therefore, when we try to change them, Python returns an error.

In [ ]:
t[2] = 10

TypeError: ignored

While tuples *cannot* be changed, lists *can*.

In [ ]:
names2 = names
names2

['Mary', 'John', 'Catherine']

In [ ]:
names2[1] = 'Peter'

In [ ]:
names2

['Mary', 'Peter', 'Catherine']

## Zip function

- This function is useful, as it allows us to bind lists together pairwise.

- For instance:

In [23]:
l1 = ['a', 'b', 'c']
l2 = [1, 4, 2]

zip(l1, l2)

- We do not see the result of `zip` function.

- However, we can use list comprehension to see the contents of the result of the `zip` function.

In [24]:
[x for x in zip(l1, l2)]

[('a', 1), ('b', 4), ('c', 2)]

- As can be seen, each element of the result of the `zip` function is a tuple,

  - Which contains the element of `l1` and its *respective* element of `l2`.

In [ ]:
[x for x in zip(names, marks)]

[('Mary', 9), ('Peter', 18), ('Catherine', 19)]

## Exercise 9-d)

We see here how to create a dictionary by using functions `dict` and `zip`.

In [ ]:
d2 = dict(zip(names, marks))
d2

{'Mary': 9, 'Peter': 18, 'Catherine': 19}

## Exercise 9-c)

- Dictionary comprehension works similarly to the way list comprehension works.

- Since each element of the result of `zip` function is a tuple and tuple indexing is similar to list indexing, 

  - `x[0]` contains the element of `names`, and

  - `x[1]` contains the element of `marks`, when

  - `x` is the element of the result of `zip(names, marks)`.

In [ ]:
{x[0]: x[1] for x in zip(names, marks)}

{'Mary': 9, 'Peter': 18, 'Catherine': 19}